body{
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    width: 500px;
    height: 80vh;
    margin: 0 auto;
    background-color: #fefae0;
    border: 5px solid #d4a373;
    border-radius: 12px;
}

h1{
    text-align: center;
    color: black;
    background-color: #d4a373;
    font-size: 3em;
}

ul{
    background-color: #ccd5ae;
    box-sizing: content-box;
    border-radius: 12px;
    margin: 0 20px;
    padding: 18px;
}

li{
    padding: 10px;
    margin-left: 120px;
    font-size: 2em;
}

li a{
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: black;
}

li a:hover{
    color: white;
}

.image{
    display: flex;
    justify-content: center;
    border: 10px solid black;
}
